.ammo-container, .trader-container {
  padding-top: 30px;
  padding-bottom: 15px;
}

.ammo-menu, .trader-menu {
  padding-bottom: 5px;
}

.ammo-btn, .trader-btn {
  color:white;
  margin-right: 2px;
  border: 2px solid #9a8866 !important;
  background-color:#292929 !important;
  border-radius: 0px;
}

.ammo-btn:hover,.trader-btn:hover {
  color:gray;
  border-color: gray;
}

/*.ammo-btn-active, .trader-btn-active {
  color:black;
  background-color: white;
}*/

/*Table Style*/

#barter-table tbody, #ammo-table tbody {
    display:block;
    background-color: #eee !important;
    color: black !important;
    height:405px;
    overflow:auto;
}
#barter-table thead, #barter-table tbody tr, #ammo-table thead, #ammo-table tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
#barter-table thead, #ammo-table thead {
    background-color: white;
    color: black;
    width: calc( 100% - 1em )
}