p.post-text {
  font-size: 12px;
  color: gray;
}

a.post-title-WTS, a.post-title-WTB, a.post-title-WTT {
  color: #8e8670 !important;
  font-size: 16px;
}

.post-text {
  font-size: 12px;
  font-style: italic;
  color: #bcb9a9;
}

.postObj {
  display: block;
  border: 1px solid #6f6a5b61;
  background-color: #232323;
  padding: 5px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.postObj a{
  color: #8e8670;
  font-size: 16px;
}

.postObj p {
  padding: 0;
}

.dBtn {
    border: 2px solid white !important;
    /*padding: 4px 3px 6px 0px;*/
    /*line-height: 0px;*/
    padding: 0.5px !important;
    background-color: #5a71c2 !important;
/*    margin-right: 3px;*/
}

.discord-icon{
    opacity: 1;
    height: 15px;
    width: 20px;
    margin:5px;
}


.jumbotron p {
  margin-bottom: 5px;
}

.post-buttons {
  float: right;
}

.post-buttons a {
    float: left;
    font-size: 14px !important;
    color:white;
    margin-right: 2px;
    border: 2px solid #9a8866;
    background-color:#292929;
    border-radius: 0px;
    cursor: pointer;
    padding: 4px;
    text-decoration: none;
    transition: 0.6s;
}

.postContainer { 
    border: 1px solid #6a6557;
    margin-bottom: 10px;
 }

.post-buttons a:last-child:hover {
  background-color:#9a8866 !important;
  border: 2px solid white;
}


.dBtn:hover .discord-icon {
  display: none;

}

.dBtn:hover span {
  height: 15px;
  margin: 5px;
  padding: 0px 5px 0px 5px !important;;
  display: inline-block;
}

.dBtn {
  transition: 0.6s;
}

.dBtn span {
  display: none;
}


.dTxt{
  display: none;
}

.dBtn:hover {
  background-color:black !important;
  color:white !important;
}

.dBtn .glyphicon {
  font-size: 20px;
  margin: 0px !important;
}

/*.tgl-txt {
  color:white;
  margin-right: 2px;
  border: 2px solid #9a8866 !important;
  background-color:#292929 !important;
  border-radius: 0px;
}*/
