.tgl-txt {
  color:white;
  margin-right: 2px;
  border: 2px solid #9a8866 !important;
  background-color:#292929 !important;
  border-radius: 0px;
}

p.post-text {
  font-size: 12px;
  color: gray;
}

a.post-title-WTS, a.post-title-WTB, a.post-title-WTT {
  color: #8e8670 !important;
  font-size: 16px;
}

.post-text {
  font-size: 12px;
  font-style: italic;
  color: #bcb9a9;
}

.discord-icon{
    opacity: 1;
    height: 25px;
}

.postObj {
  display: block;
  border: 1px solid #6f6a5b;
  background-color: #232323;
  padding: 5px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.postObj p {
  padding: 0;
}

.dBtn {
    border: 2px solid white;
    padding: 4px 3px 6px 0px;
    line-height: 0px;
    font-size: 16px;
    background-color: #5a71c2;
    color: white;
    margin-right: 3px;
}