.tab-container {
  padding-top: 30px;
  padding-bottom: 15px;
}

.sub-nav-menu {
  padding-bottom: 5px;
}

.sub-nav-menu button {
  color:white;
  margin-right: 2px;
  padding: 4px;
  border: 2px solid #9a8866;
  background-color:#292929 !important;
  border-radius: 0px;
}

.sub-nav-menu button:focus, .sub-nav-menu button:hover {
  color: #9a8866;
  border-color: white;
}

.postContainer {
  height: 450px;
  overflow: auto;
}

.sub-nav-btn .active {
  color: #9a8866;
  border-color: white;
}

/*Table Style*/

#barter-table tbody, #ammo-table tbody, #ammo-table-two tbody, .sheets-table tbody  {
    display:block;
    background-color: #eee !important;
    color: black !important;
    height:405px;
    overflow:auto;
}
#barter-table thead, #barter-table tbody tr, #ammo-table thead, #ammo-table tbody tr, #ammo-table-two thead, #ammo-table-two tbody tr, .sheets-table tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
#barter-table thead, #ammo-table thead, #ammo-table-two thead, .sheets-table thead {
/*    background-color: white;
    color: black;*/
    width: calc( 100% - 1em )
}

/* New response tab (needs work)

display: block;
    position: absolute;
    width: 85%;
    margin: auto;
    top: 20px;
    bottom: 35px;
    left: 0;
    right: 0;*/